<h1>User Panel</h1></h1>
<div class="row center">
    <%= button_to "View Schedule", "#", :method => "get" %>
    <%= button_to "Show available shifts", 'available_shifts', :method => "get" %>
</div>
