<div class="jumbotron center">
    <div class="row">
        <h1>Living in the Now</h1>
    </div>
    <div>
        <p>Sign up your store today!</p>
        <div class="btn-group">
            <%= link_to "Sign Up Now", new_store_path%>
        </div>

    </div>
</div>
