<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Living in the NOW!, <%= @user.firstName %></h1>
    <p>
      You have successfully signed up to litn.com,
      your username is: <%= @user.email %>.<br>
      See your administrator for your password.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>