<h1>Editing Schedule</h1>

<%= render 'form', schedule: @schedule %>
<%= form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %> 

<%= link_to 'Show', @schedule %> |
<%= link_to 'Back', schedules_path %>
