
.screenContainer{
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
}

.tableContainer{
    background-color: #ced6e2;
    padding: 10px; 
    margin:10px;
}

.myTable{
    width: 100%;           
}

.noPad {
   padding: 0 !important;
   margin: 0 !important;
}

.myTd{
    border: 1px solid #888888;
    background-color:#eaeaea;
    width: 12%;
    text-align: center;
    font-size: .8em;
    height: 41px;
    position: relative;
    font-weight: bold;
}

.alignRight{
    float: right;
    padding-right: 10px;
}

.requestPadd{
    padding-left: 10px;
}

.availModal{
    display: none;
}
.smPrint{
    font-size: .8em;
    display: inline-block;
    line-height: 95%;
}

.myTh{
    border: 1px solid blue;
    background-color:#dee1e5;
    width: 12%;
    text-align: center;
}

.available{
    width: 100%;
    height: 50%;
    background-color:#485263;
    color: white;
    font-size: .95em;
    padding-left: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
}



.available:hover{
    background-color:#11223d;
}
.timeText{
    margin-top: 10px;
    font-size: 1em;
    position: relative;
    bottom: -4px;
}

.empColumn{
    width: 16%;
}

.positionHead{
    text-align: center;
    color: aliceblue;
    background-color:#727b89;
    width: 2%;
}

.editBut{
    width: 60%;
    height: 50%;
    background-color:#9aa6ba;
    color: white;
    font-size: .95em;
    padding-left: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.destroyBut{
    width: 40%;
    height: 50%;
    background-color:#9aa6ba;
    color: white;
    font-size: .8em;
    padding-left: 2px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-top: 4px;
}
.createBut{
    width: 100%;
    height: 20px;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 0px;
    padding-left: 1px;
}
.dropBut{
    width: 100%;
    height: 50%;
    background-color:#9aa6ba;
    color: white;
    font-size: .95em;
    padding-left: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.createBut:hover{
     background: #f3f3f3;
}
.editBut:hover{
    background: #5a769a;
}
.dropBut:hover{
     background: #5a769a;
}
.truncateWarning{
    float:right;
    font-size: .75em;
    padding-top: 5px;
    padding-right: 2%;
    font-weight: 100;
    
}

.modal-content{
    height: 175px;
    width: 220px;
    padding: 0px;
}
#submitBut{
    float:right;
    margin-right: 15px;
    margin-top: 20px;
}
#cancelBut{
    float:right;
    margin-right: 20px;
    margin-top: 20px;
}
.fRight{
    float: right;
    padding: 0px;
}

.modal-title{
    height: 25px;
    padding: 0px;
}

.modal-header{
    height: 45px;
    padding: 10px;
    background-color: darkgray;
}

.modal-body{
    height: 75px;
    padding: 0px;
    padding-left: 10px;
    padding-top: 0px;
}

.modal-footer{
    height: 53px;
    padding: 0px;
    padding-right: 10px;
    padding-top: 0px;
    background-color: darkgray;
}



@media (max-width: 855px) { 
    .available{
        font-size: .7em;
    }
}

.lg, .lg { display: inline-block; }
.sm, .sm { display: none; }

@media (max-width: 767px) { 
     .lg { 
        display: none; 
    }
    .sm { 
        display: inline-block; 
        width: 14.28%;
    }
    .empHead.sm{
        width: 100%;  
    }
    .myTd{
        border: 1px solid #888888;
        height: 35px;
        padding: 0px;
        margin: 0px;
    }
    .fRight{
        float: left;
    }
    .screenContainer{ 
        margin-left: 0%;
        margin-right: 0%;
        padding: 0px; 
        margin: 0px;
    }
    .modal-content{
        height: 175px;
        width: 200px;
        padding: 0px;
    }
    .modal-body{
        height: 75px;

    }
    .modal-footer{
        height: 56px;
    }
    .tableContainer{
        padding: 0px; 
        margin: 0px;
    }
    .editBut{
        width: 100%;
        height: 100%;
        background-color:#9aa6ba;
        color: white;
        font-size: .9em;
        padding: 0px;
        margin: 0px;
    }
    .createBut{
        width: 100%;
        height: 100%;
        font-size: .85em;
        padding-left: 0px;
    }
    .dropBut{
        height: 100%;
        font-size: .9em;
        padding-left: 0px;
    }
    .available{
        width: 100%;
        height: 100%;
        background-color:#485263;
        color: white;
        font-size: .8em;

    
}

}

.blue{
    background-color:#485263;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	
}

.btnWeek {
  background: #ced6e2;
  background-image: -webkit-linear-gradient(top, #ced6e2, #9fafc6);
  background-image: -moz-linear-gradient(top, #ced6e2, #9fafc6);
  background-image: -ms-linear-gradient(top, #ced6e2, #9fafc6);
  background-image: -o-linear-gradient(top, #ced6e2, #9fafc6);
  background-image: linear-gradient(to bottom, #ced6e2, #9fafc6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #333333;
  font-size: 1.1em;
  padding: 5px 5px 5px 5px;
  margin-left: 0px;
  text-decoration: none;
}

.btnWeek:hover {
  background: #48a6e0;
  background-image: -webkit-linear-gradient(top, #6e9db9, #2470a3);
  background-image: -moz-linear-gradient(top, #6e9db9, #2470a3);
  background-image: -ms-linear-gradient(top, #6e9db9, #2470a3);
  background-image: -o-linear-gradient(top, #6e9db9, #2470a3);
  background-image: linear-gradient(to bottom, #6e9db9, #2470a3);
  color: #DDDDDD;
  text-decoration: none;
}

.dateBox {
    color: #eeeeee;
    background-color: #9fafc6;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 10%;
    font-weight: bold;
    border-style: solid;
    border-color: #d3eaf8;
    border-width: 1px;
    margin-right: 15px;
    margin-left: 18px;
}